# Dependencias
node_modules/

# Build de producción
dist/
dist-ssr/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Archivos temporales
*.local
*.sw?